.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 뷰포트 높이로 고정 */
  overflow: hidden; /* 전체 화면 스크롤 방지 */
}

.header {
  height: 20rem; /* 60px -> rem 변환 (접근성 고려) */
  background-image: url('src/assets/images/image-intro.jpg');
  background-size: cover;
  background-position: center;;
}

.content {
  display: flex; /* 가로 배치 핵심 */
  flex: 1;       /* 남은 세로 공간 모두 차지 */
  overflow: hidden; /* 자식 요소(main) 스크롤을 위해 넘침 숨김 */
}

.nav {
  width: 15rem;  /* 왼쪽 사이드바 너비 고정 */
  background-color: $color-white-100;
  flex-shrink: 0; /* 너비가 줄어들지 않도록 설정 */
}

.main {
  flex: 1;       /* 남은 가로 공간 모두 차지 */
  padding: 1rem;
  overflow-y: auto; /* 메인 영역만 세로 스크롤 */
}

.footer {
  height: 3.125rem; /* 50px -> rem 변환 */
  background-color: #f0f0f0;
}