.nav {
  padding: 1rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.1rem;

      a {
        display: block;
        padding: 0.75rem 1rem;
        //background-color: #ffffff;
        color: #333;
        text-decoration: none;
        border-radius: 1rem; /* 4px */
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #d1d5db; /* Hover 시 회색 배경 */
        }
      }
    }
  }
}